{{ if eq .Type "post" }}
    <ul class="list-inline share" style="margin-top: 15px; margin-left: 0px">
        <li class="twitter-share"><a target="_blank" href="https://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}"><i class="fa fa-twitter fa-lg"></i>Twitter</a></li>
        <li class="facebook-share"><a target="_blank" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook fa-lg"></i>Facebook</a></li>
        <li class="reddit-share"><a target="_blank" href="http://reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}"><i class="fa fa-reddit fa-lg"></i>Reddit</a></li>
    </ul>
{{ end }}
